.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form-row label {
  flex: 0 0 120px;
}

.form-row input {
  flex: 1;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 100vh;
}
