<p-table [value]="meals" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Meal Type</th>
      <th>Prepared At</th>
      <th>Dishes</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-meal>
    <tr>
      <td>{{ meal.mealType }}</td>
      <td>{{ meal.dateTime | date:'yyyy-MM-dd HH:mm' }}</td>
      <td>
        <span *ngFor="let dish of meal.dishes; let last = last">
              {{ dish.name }}<span *ngIf="!last">, </span>
        </span>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3" style="text-align:center; font-style:italic;">
        No meals found.
      </td>
    </tr>
  </ng-template>
</p-table>
