<p-contextMenu #cm [model]="menuItems"></p-contextMenu>

<p-table
  [value]="meals"
  dataKey="id"
  selectionMode="single"
  [(contextMenuSelection)]="selectedMeal"
  (onRowSelect)="openEditDialog($event.data)"
  [contextMenu]="cm"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Meal Type</th>
      <th>Prepared At</th>
      <th>Dishes</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-meal>
    <tr [pSelectableRow]="meal" [pContextMenuRow]="meal">
      <td>{{ meal.mealType }}</td>
      <td>{{ meal.dateTime | date: 'yyyy-MM-dd HH:mm' }}</td>
      <td>
        <ul *ngIf="meal.dishes && meal.dishes.length > 0; else noDishes">
          <li *ngFor="let dish of meal.dishes">{{ dish.name }}</li>
        </ul>
        <ng-template #noDishes>
          <span style="font-style: italic; color: gray;">No dishes</span>
        </ng-template>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3" style="text-align: center; font-style: italic">No meals found.</td>
    </tr>
  </ng-template>
</p-table>

<div class="center-button">
  <p-button label="Add Meal" icon="pi pi-plus" (click)="openAddDialog()"></p-button>
</div>

<p-dialog
  header="Add Meal"
  [(visible)]="showDialog"
  [modal]="true"
  [style]="{ width: '600px' }"
>
  <form [formGroup]="mealForm" class="form-container">
    <div class="form-row">
      <label>Meal Type</label>
      <p-select
        [options]="mealTypes"
        formControlName="mealType"
        optionLabel="label"
        optionValue="value"
        [style]="{ width: '100%' }"
        appendTo="body">
      </p-select>
    </div>

    <div class="form-row">
      <label>Date</label>
      <p-datepicker
        formControlName="dateTime"
        appendTo="body"
        [style]="{ width: '100%' }"
      ></p-datepicker>
    </div>

    <div class="form-row">
      <label>Dishes</label>
      <p-select
        [options]="dishes"
        optionLabel="name"
        optionValue="name"
        formControlName="dishes"
        [style]="{ width: '100%' }"
        appendTo="body">
      </p-select>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button label="Save" (click)="addMeal()"></p-button>
    <p-button label="Cancel" class="p-button-secondary" (click)="showDialog = false"></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Edit Meal"
  [(visible)]="editDialogVisible"
  [modal]="true"
  [style]="{ width: '600px' }">
  <form [formGroup]="editForm" class="form-container">
    <div class="form-row">
      <label>Meal Type</label>
      <p-select
        [options]="mealTypes"
        formControlName="mealType"
        optionLabel="label"
        optionValue="value"
      ></p-select>
    </div>

    <div class="form-row">
      <label>Date</label>
      <p-datepicker
        formControlName="dateTime"
        appendTo="body"
        [style]="{ width: '100%' }"
      ></p-datepicker>
    </div>

    <div class="form-row">
      <label>Dishes</label>
      <p-multiSelect
        [options]="dishes"
        formControlName="dishes"
        optionLabel="name"
        optionValue="name"
        [style]="{ width: '100%' }"
        appendTo="body">
      </p-multiSelect>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button label="Save" (click)="editMeal()"></p-button>
    <p-button label="Cancel" class="p-button-secondary" (click)="editDialogVisible = false"></p-button>
  </ng-template>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
