<p-confirmDialog></p-confirmDialog>

<div class="dishes-container">
  <p-table
    [value]="dishes"
    class="full-width-table"
    dataKey="id"
    selectionMode="single"
    (onRowSelect)="onRowSelect($event)"
    [loading]="loadingService.active()"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Prepared At</th>
        <th>Calories</th>
        <th>Protein</th>
        <th>Fat</th>
        <th>Carbohydrates</th>
        <th>Recipes</th>
        <th>Ingredients</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-dish>
      <tr [pSelectableRow]="dish" (contextmenu)="onRightClick($event, dish)">
        <td>{{ dish.name }}</td>
        <td>{{ dish.preparedAt | date: 'yyyy-MM-dd HH:mm' }}</td>
        <td>{{ dish.calories }}</td>
        <td>{{ dish.protein }}</td>
        <td>{{ dish.fat }}</td>
        <td>{{ dish.carbohydrates }}</td>
        <td>
          <ng-container *ngIf="dish.recipes?.length; else noRecipes">
            <span *ngFor="let recipe of dish.recipes; let last = last">
              {{ recipe.name }}<span *ngIf="!last">, </span>
            </span>
          </ng-container>
          <ng-template #noRecipes>-</ng-template>
        </td>
        <td>
          <ng-container *ngIf="dish.ingredients?.length; else noIngredients">
            <span *ngFor="let ingredient of dish.ingredients; let last = last">
              {{ ingredient.name }}<span *ngIf="!last">, </span>
            </span>
          </ng-container>
          <ng-template #noIngredients>-</ng-template>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="empty-message">No dishes found.</td>
      </tr>
    </ng-template>
  </p-table>

  <div class="button-container">
    <p-button
      label="Add Dish"
      (onClick)="openCreate()"
      styleClass="p-button-rounded p-button-success p-button-lg"
    ></p-button>
  </div>

  <p-dialog
    [(visible)]="dialogVisible"
    [modal]="true"
    [dismissableMask]="true"
    [closable]="false"
    [style]="{ width: '560px' }"
    [draggable]="false"
  >
    <ng-template pTemplate="header">
      <span>{{ editId() ? 'Edit Dish' : 'Add Dish' }}</span>
    </ng-template>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="grid">
        <div class="field col-12">
          <label>Name</label>
          <input type="text" pInputText formControlName="name" />
          <small *ngIf="name.touched && name.hasError('required')">Name is required.</small>
        </div>

        <div class="field col-6">
          <label>Calories</label>
          <p-inputNumber
            formControlName="calories"
            [min]="0"
            [maxFractionDigits]="0"
          ></p-inputNumber>
          <small *ngIf="calories.touched && calories.hasError('required')">Required.</small>
        </div>

        <div class="field col-6">
          <label>Protein</label>
          <p-inputNumber formControlName="protein" [min]="0"></p-inputNumber>
          <small *ngIf="protein.touched && protein.hasError('required')">Required.</small>
        </div>

        <div class="field col-6">
          <label>Fat</label>
          <p-inputNumber formControlName="fat" [min]="0"></p-inputNumber>
          <small *ngIf="fat.touched && fat.hasError('required')">Required.</small>
        </div>

        <div class="field col-6">
          <label>Carbohydrates</label>
          <p-inputNumber formControlName="carbohydrates" [min]="0"></p-inputNumber>
          <small *ngIf="carbohydrates.touched && carbohydrates.hasError('required')"
            >Required.</small
          >
        </div>

        <div class="field col-12">
          <label>Prepared at</label>
          <p-datepicker
            formControlName="preparedAt"
            dateFormat="yy-mm-dd"
            [showIcon]="true"
          ></p-datepicker>
          <small *ngIf="preparedAt.touched && preparedAt.hasError('required')">Required.</small>
        </div>
      </div>

      <div class="actions">
        <p-button
          type="button"
          label="Cancel"
          styleClass="p-button-text"
          (onClick)="cancel()"
        ></p-button>
        <p-button
          type="submit"
          [disabled]="form.invalid || loadingService.active()"
          [label]="editId() ? 'Save' : 'Create'"
        ></p-button>
      </div>
    </form>
  </p-dialog>
</div>
