 <p-table [value]="dishes" [tableStyle]="{ 'min-width': '70rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Prepared At</th>
        <th>Calories</th>
        <th>Protein</th>
        <th>Fat</th>
        <th>Carbohydrates</th>
        <th>Recipes</th>
        <th>Ingredients</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-dish>
      <tr>
        <td>{{ dish.name }}</td>
        <td>{{ dish.preparedAt | date:'yyyy-MM-dd HH:mm' }}</td>
        <td>{{ dish.calories }}</td>
        <td>{{ dish.protein }}</td>
        <td>{{ dish.fat }}</td>
        <td>{{ dish.carbohydrates }}</td>

        <td>
          <ul *ngIf="dish.recipeIds?.length; else noRecipes">
            <li *ngFor="let recipeId of dish.recipeIds">{{ recipeId }}</li>
          </ul>
          <ng-template #noRecipes>-</ng-template>
        </td>

        <td>
          <ul *ngIf="dish.ingredientIds?.length; else noIngredients">
            <li *ngFor="let ingId of dish.ingredientIds">{{ ingId }}</li>
          </ul>
          <ng-template #noIngredients>-</ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div *ngIf="!dishes?.length" class="placeholder">
    No dishes available.
  </div>
